@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 16px;
}

.navbar-nav a {
    font-family: "Montserrat-Medium", sans-serif;
    text-transform: uppercase;
}

.navbar-light .navbar-brand {
    font-family: "Montserrat-Black", sans-serif;
    color: #fff;
    font-size: 25px;
}

.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url("../image/landing_page.png") 100% 100% no-repeat;
    position: relative;
    display: table;
    top: 0;
    background-size: cover;
}

.ayam {
    height: 40%;
    width: 100%;
    /* margin: auto; */
    margin-bottom: 0px;
    background: url("../image/landing_page.png") 50% 50% no-repeat;
    position: relative;
    display: table;
    top: 0;
    background-size: cover;
}

.square-title {
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.intro .login {
    margin-top: 10rem;
    width: 100%;
    max-width: none;
}

.isi-login {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.isi-login h1 {
    font-family: "Bangers", cursive;
    color: #fff;
    text-shadow: 0px 0px 300px #000;
    font-size: 5em;
    margin-bottom: 0px;
    margin-top: 50px;
    text-align: center;
}

.isi-login h2 {
    font-family: "Montserrat-medium", sans-serif;
    color: #fff;
    text-shadow: 0px 0px 300px #000;
    font-size: 1.5em;
    margin-bottom: 5px;
    text-transform: uppercase;
    text-align: center;
}

.col-login {
    margin-left: 17rem;
    margin-top: 1rem;
}

.intro .error {
    margin-top: 10rem;
    width: 100%;
    max-width: none;
}

.isi-error {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.isi-error h1 {
    font-family: "Bangers", cursive;
    color: #a20909;
    text-shadow: 0px 0px 300px #000;
    font-size: 13em;
    margin-bottom: 0px;
    margin-top: 50px;
    text-align: center;
}

.isi-error h2 {
    font-family: "Montserrat-italic", sans-serif;
    color: #939393;
    text-shadow: 0px 0px 300px #000;
    font-size: 2em;
    margin-bottom: 10rem;
    text-transform: uppercase;
    text-align: center;
}

.content {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.contentjumbo {
    color: #fff;
    /* max-width: 900px; */
    margin-top: 0px;
    text-align: right;
}

.content h1 {
    font-family: "Bangers", cursive;
    color: #fff;
    text-shadow: 0px 0px 300px #000;
    font-size: 5em;
    margin-bottom: 0px;
    margin-top: 50px;
    text-align: left;
}

.button {
    font-family: "Montserrat-bold", sans-serif;
    border-radius: 12px;
    font-size: 100%;
    color: #fa4d4d;
    background: #ffce00;
    text-transform: uppercase;
    text-decoration: none;
    float: left;
    padding: 10px 20px;
    border: solid #790a0a 3px;
}

.button-login {
    font-family: "Montserrat-bold", sans-serif;
    border-radius: 12px;
    font-size: 100%;
    color: #fa4d4d;
    background: #ffce00;
    text-transform: uppercase;
    text-decoration: none;
    float: center;
    padding: 10px 20px;
    border: solid #790a0a 3px;
}

.button:hover {
    color: #fff;
    border: solid #fff 3px;
}

.btn {
    font-family: "Oswald", sans-serif;
    border-radius: 50px;
    color: #fa4d4d;
    font-size: 200%;
    padding: 10px 20px;
    border: solid #6ebbda 3px;
    background: #ffce00;
    text-transform: uppercase;
    text-decoration: none;
    float: left;
}

.btn:hover {
    color: #fff;
    border: solid #fff 3px;
}

p {
    font-size: 160%;
    line-height: 210%;
    text-align: justify;
    margin: 3%;
    font-family: sans-serif;
}

@media screen and (max-width: 768px) {
    .content h1 {
        font-size: 250%;
    }

    .btn {
        font-size: 110%;
        padding: 7px 15px;
    }

    p {
        font-size: 100%;
        line-height: 160%;
    }
}

#sidebar {
    position: fixed;
    height: 100vh;
}

.informasi {
    font-family: "Montserrat-medium", sans-serif;
    color: #fff;
    text-shadow: 0px 0px 300px #000;
    font-size: 150%;
    text-align: justify;
    margin-bottom: 20px;
}

img.logo-wind {
    width: 75%;
    object-fit: cover;
    display: inline-block;
    vertical-align: top;
}

/* img.logo-wind {
  width: 65%;
  margin-top: 100px;
  align-content: center;
} */

.leftside,
.rightside {
    /* height: 100vh; */
    height: 50rem;
    width: 100%;
    margin-top: 0px;
}

.leftside {
    background: red;
    height: 27rem;
    background: url("../image/Futsal.jpg") no-repeat;
}

.rightside {
    background: blue;
    height: 27rem;
    background: url("../image/esport.jpg") no-repeat;
}

.overlay {
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.7;
    position: relative;
}

.leftside h1 {
    font-family: "Montserrat-black", sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    z-index: 1;
    padding: 7rem 0;
    text-align: center;
    color: #fff;
}

.rightside h1 {
    font-family: "Montserrat-black", sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    z-index: 1;
    padding: 7rem 0;
    text-align: center;
    color: #fff;
}

.cerita-wind {
    background: #d9d9d9;
    height: 25rem;
}

.text-wind {
    text-align: center;
    font-size: 160%;
    margin-left: 7rem;
    margin-right: 7rem;
    padding: 2rem;
}

.text-wind h1 {
    font-family: "Montserrat-Bold", sans-serif;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.video {
    /* background:red; */
    height: 20rem;
}

.tempat-video {
    padding: 3rem;
    height: 80%;
    width: 80%;
    margin-left: 5rem;
    border-radius: 10px;
}

.informasi h1 {
    font-family: "Montserrat-Black", sans-serif;
    margin-top: 7rem;
    margin-left: 2rem;
    margin-right: 8rem;
    color: #282828;
}

.footer {
    height: 10rem;
    background: #282828;
    color: #d9d9d9;
}

.info-kontak {
    font-size: 100%;
    padding: 2rem;
    height: 80%;
    width: 80%;
    margin-left: 5rem;
    border-radius: 10px;
}

.info-kontak h1 {
    font-size: 1.5rem;
    color: #d1c41e;
}

.match {
    margin-bottom: 2rem;
}

.match h1 {
    font-family: "Bangers", sans-serif;
    font-size: 4rem;
    margin: 1rem 1rem;
}

.match h2 {
    font-family: "Montserrat-BoldItalic", sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

.skor .container {
    background: #282828;
    border-radius: 2rem;
    height: 100%;
    color: #ffff;
}

.col-vs {
    font-family: "Bangers", sans-serif;
    font-size: 5em;
    color: #ffce00;
}

.nama-tim {
    font-family: "Bangers", sans-serif;
    font-size: 5em;
    color: #fff;
    margin-bottom: 0px;
}

.hasil {
    font-family: "Montserrat-BoldItalic", sans-serif;
    font-size: 50%;
    margin-top: 0px;
    margin-left: 4em;
}

.berita {
    margin-bottom: 2rem;
}

.berita h1 {
    font-family: "Bangers", sans-serif;
    font-size: 4rem;
    margin: 1rem 2rem;
    text-transform: uppercase;
}

.thumbnail-berita img {
    padding: 1rem;
    height: 90%;
    width: 90%;
    margin-left: 5rem;
    border-radius: 10px;
}

.berita a {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 1.5rem;
    margin: 1rem 2rem;
    text-transform: uppercase;
    color: #000000;
    text-align: left;
}

.rangkuman-berita {
    font-family: "Montserrat-Medium", sans-serif;
    font-size: 1em;
    margin: 1rem 2rem;
    text-transform: capitalize;
}

.more-info a {
    font-family: "Montserrat-BoldItalic", sans-serif;
    font-size: 0.7em;

    color: #790a0a;
    text-transform: capitalize;
}

.pagination {
    margin-left: 40rem;
}

.detail-berita {
    margin-bottom: 2rem;
}

.detail-berita h1 {
    font-family: "Bangers", sans-serif;
    font-size: 4rem;
    margin: 1rem 2rem;
    text-transform: uppercase;
}

.isi-berita img {
    padding: 1rem;
    height: 80%;
    width: 80%;
    margin-left: 4rem;
    border-radius: 10px;
}

.berita-full {
    margin-left: 4rem;
    text-align: justify;
    font-size: 1rem;
}

.iklan-berita img {
    /* padding: 1rem; */
    height: 90%;
    width: 90%;
}

.iklan-berita a {
    font-family: "Montserrat-Bold", sans-serif;
    color: #000;
    text-transform: uppercase;
    line-height: 0%;
}

.small-iklan {
    font-size: 70%;
    text-align: justify;
}

.navbar-admin {
    background: #b00000;
    color: #fff;
}

.navbar-admin img {
    width: 6%;
    margin-right: 10px;
}

.navbar-admin .navbar-brand {
    color: #cfd8dc;
}

#viewport {
    padding-left: 150px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-top: 4rem;
}

#content {
    width: 100%;
    position: relative;
    margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 10rem;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #37474f;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar header {
    background-color: #263238;
    font-size: 20px;
    line-height: 52px;
    text-align: center;
}

#sidebar header a {
    color: #fff;
    display: block;
    text-decoration: none;
}

#sidebar header a:hover {
    color: #fff;
}

/* #sidebar .nav {
} */

#sidebar .nav a {
    margin-top: 5px;
    background: none;
    border-bottom: 1px solid #455a64;
    color: #cfd8dc;
    font-size: 18px;
    padding: 8px 14px;
    line-height: 200%;
}

#sidebar .nav a:hover {
    background: none;
    color: #eceff1;
}

#sidebar .nav a i {
    margin-right: 16px;
}

.visi-misi {
    background: #d9d9d9;
    height: 35rem;
}

.text-visi {
    text-align: center;
    font-size: 130%;
    margin-left: 7rem;
    margin-right: 7rem;
    color: #4a4a4a;
    padding: 2rem;
}

.text-visi h1 {
    font-family: "Montserrat-Bold", sans-serif;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.prestasi {
    background: #ff6f6f;
    height: 30srem;
}

.text-prestasi {
    font-family: "Montserrat-Medium", sans-serif;
    text-align: center;
    font-size: 130%;
    margin-left: 7rem;
    margin-right: 7rem;
    color: #ffff;
    padding: 2rem;
}

.text-prestasi h1 {
    font-family: "Montserrat-Bold", sans-serif;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.pendaftaran {
    background: #d9d9d9;
    height: 30srem;
}

.tutup {
    background: #ff7675;
    height: 50srem;
    text-align: center;
}

.syarat-pendaftaran {
    font-family: "Montserrat-Bold", sans-serif;
    text-align: center;
    font-size: 120%;
    margin-left: 7rem;
    margin-right: 7rem;
    padding: 1rem;
    margin-left: 10rem;
    text-align: justify;
    color: #3d3d3d;
}

.pendaftaran h1 {
    font-family: "Montserrat-Bold", sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #3d3d3d;
    text-align: center;
    padding: 1rem;
}

.formulir-pendaftaran h1 {
    text-align: center;
    font-family: "Montserrat-Bold", sans-serif;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.formulir-pendaftaran h2 {
    text-align: left;
    margin-left: 4rem;
    font-family: "Montserrat-Bold", sans-serif;
    margin-bottom: 0px !important;
}

.formulir {
    padding: 3rem;
}

.info-formulir {
    font-family: "Montserrat-Medium", sans-serif;
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: normal;
}

.btn-daftar {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 300%;
    height: 3rem;
    width: 15rem;
    margin-left: 22rem;
    color: #000;
}

.info-team {
    background: #282828;
    color: #fff;
    width: 50rem;
}

.nama-team {
    background: #3d3d3d;
}
.nama-team h3 {
    text-align: center;
    color: #ffce00;
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 2rem;
}

li.informasi-pemain {
    margin-left: 0px !important;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.detail-informasi p {
    line-height: 2.8rem;
    font-size: 1.25rem;
}

.position {
    font-family: "Montserrat-medium", sans-serif;
    background: #3d3d3d;
    margin-left: 0px;
    height: 2.5rem;
    text-align: middle;
    color: #fff;
    padding: 0px;
    border-bottom: 1px solid #838383;
}

.btn-posisi {
    margin-top: 0.3em;
    height: 2em;
    text-align: center;
    margin-right: 0.5em;
}

.nama-pemain {
    font-size: 140%;
}

.foto img {
    size: 40%;
    margin-left: 0px;
}

.team {
    margin-left: 50px;
}

.pills {
    margin-left: 0px !important;
}

.manajemen {
    margin-bottom: 2rem;
}

.manajemen h1 {
    font-family: "Bangers", sans-serif;
    font-size: 4rem;
    margin: 1rem 2rem;
    text-transform: uppercase;
    text-align: center;
}

.container-team {
    margin-left: 20rem;
    border-radius: 1rem;
}

.video-wind {
    height: 30rem;
}

.informasi-video h1 {
    font-family: "Montserrat-Black", sans-serif;
    margin-top: 7rem;
    margin-left: 2rem;
    margin-right: 8rem;
    color: #282828;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: #fff;
}

.link {
    color: #838383;
}

.dropdown-team {
    float: right;

    padding: 2rem;
}

.dropdown-match {
    float: right;
    margin-right: 4rem;
    padding: 2rem;
}

.team {
    margin-left: 4rem;
}

li.list-team {
    list-style-type: none;
}

.info-pemain {
    margin-left: 0px;
}
.container-informasi {
    font-size: 60%;
}

.dropdown-pemain {
    margin-left: 20rem;
    font-size: 60rem;
}
